# Files and directories created by pub
.packages
.dart_tool/
.pub/
.example/flutter.png
build/
pubspec.lock

# Directory created by dartdoc
doc/api/
.cookies/

# Files and directories created by editors
.idea/
.vscode/